/* Stylesheets */
@import 'utilities/normalize';
@import 'utilities/typographies';
@import 'utilities/font-awesome';

:root {
  --green-light: #c0dfd9;
  --green: #808F8C;
  --silver: #e9ece5;
  --black: #1A2926;
}

html {
  font-family: var(--openSans);
  box-sizing: border-box;
  background-color: var(--silver);
  color: var(--black);
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 960px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--openSansRegular);
}

h2 {
  font-size: 1.3em;
}

b {
  font-family: var(--openSansRegular);
}

p {
  line-height: 1.3;
}

a {
  color: var(--green);
  text-decoration: none;
  font-family: var(--openSansRegular);
  font-size: .9em;
  margin-bottom: 5px;
  display: block;
}

.left-side i.fa {
  font-size: 1.2em;
  margin-right: 5px;
}

.left-side i.fa-envelope {
  font-size: 1em;
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-item {
  margin: 0;
  padding: 0;
  width: 33%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-top: 20px;
  padding: 0 5px;
}

.services i.fa {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.services h2,
.services h4 {
  margin: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.center {
  text-align: center;
}

.left-side {
  position: fixed;
  width: 240px;
  top: 40px;
}

.profile__image {
  width: 100%;
  border-radius: 100%;
  border: 1px solid var(--black);
  box-shadow: 0 0 25px 0px var(--green);
}

.right-side {
  float: right;
  width: 70%;
  padding: 40px 0 40px 20px;
}

.studies li {
  line-height: 1.3;
}
