html
  head
    title Iván - Human solutions
  body
    section.left-side
      img.profile__image(src='./images/ivan-jimenez-rodriguez.jpg' alt='Iván Jiménez Rodríguez - Consultor de Recursos Humanos y Coach Organizacional')
      h5 Para cualquier duda, contáctame por e-mail ó LinkedIn, estaré encantado de atenderte:
      a(target='_blank' href='mailto:ijrhumansolutions@gmail.com')
        i.fa.fa-envelope(aria-hidden="true")
        | ijrhumansolutions@gmail.com
      a(target='_blank' href='https://www.linkedin.com/in/ijrhumansolutions/')
        i.fa.fa-linkedin-square(aria-hidden="true")
        | LinkedIn
    section.right-side
      header
        h1 Hola!
        h2 Me llamo Iván.
      section.description
        p Nací en Barcelona hace 31 años. Estudié en Manresa, compaginándolo con empleos de fin de semana, y posteriormente me desplacé hacia Andorra a trabajar durante 8 años. Decidí regresar a España para volver a estudiar, y actualmente resido en San Sebastián, donde he estado combinando el trabajo con mi formación.
        p Una de mis grandes pasiones es el deporte. Tengo la Licencia de Instructor de la FPEF (Fitness & Pilates European Federation), y soy miembro de EUREPS (European Union Register of Exercise Professionals). Y la otra es la música, yendo regularmente desde hace 10 años a clases de guitarra y bajo, y tocando en directo con varios grupos en diversos bolos.
        p Mis habilidades innatas más destacables son la inteligencia emocional y la empatía, y de las aprendidas, las que más he desarrollado son la excelencia en el trato a la persona y la capacidad de adaptación y superación.
        p  A nivel laboral tengo 13 años de experiencia. A grandes rasgos, lo más significativo han sido los 2 años como mando intermedio en grandes superficies comerciales, y los 6 años atendiendo al cliente e impartiendo formaciones en el ámbito de la industria farmacéutica.
        p En mi formación en la Euroinnova Business School, y en las Universidades Miguel de Cervantes, Camilo José Cela y Antonio de Nebrija, he procurado centrarme en el mayor capital de la empresa, los RRHH. Todo desde un punto de vista actual y global; cohesionando el Management con la Psicología y el Coaching, y siempre orientado hacia el cliente y la atención al público.
      br
      section.studies
        h2 Formación más destacada:
        ul
          li MBA in Human Resources: Analista y Consultor.
          li Máster Europeo en Psicología.
          li Certificación Profesional Internacional en Coaching Ejecutivo y Empresarial.
          li Curso Universitario de Administración y Dirección de Empresas.
          li Curso Universitario de Business Intelligence.
          li Curso Universitario de Dirección Estratégica de RRHH.
          li Curso Universitario de Especialización en Dirección de Equipos.
          li Curso Universitario de Especialización en Practitioner de PNL.
          li Curso Universitario en Coaching y Mentoring.
          li Técnico Profesional en Coaching Organizacional.
          li Técnico Profesional en Psicología y Técnicas de Venta.
          li Curso de Experto en Calidad en el Servicio y Atención al Cliente.
        p Para más detalles sobre toda mi formación, podéis consultar mi LinkedIn.
