html
  head
    title Iván - Human solutions
    meta(name="description" content="En mi formación, he procurado centrarme en el mayor capital activo de la empresa, las personas. Todo desde un punto de vista actual y global; cohesionando la Psicología y el Coaching con el Management, y siempre orientado hacia la atención al público.")
    meta(name="twitter:card" content="En mi formación, he procurado centrarme en el mayor capital activo de la empresa, las personas. Todo desde un punto de vista actual y global; cohesionando la Psicología y el Coaching con el Management, y siempre orientado hacia la atención al público.")
    meta(name="twitter:title" content="Iván - Human solutions")
    meta(name="twitter:description" content="En mi formación, he procurado centrarme en el mayor capital activo de la empresa, las personas. Todo desde un punto de vista actual y global; cohesionando la Psicología y el Coaching con el Management, y siempre orientado hacia la atención al público.")
    meta(name="twitter:image" content="./images/ivan-jimenez-rodriguez.png")
    meta(property="og:title" content="Iván - Human solutions")
    meta(property="og:type" content="article")
    meta(property="og:url" content="http://ijrhumansolutions.com")
    meta(property="og:image" content="./images/ivan-jimenez-rodriguez.png")
    meta(property="og:description" content="En mi formación, he procurado centrarme en el mayor capital activo de la empresa, las personas. Todo desde un punto de vista actual y global; cohesionando la Psicología y el Coaching con el Management, y siempre orientado hacia la atención al público.")
  body
    section.left-side
      img.profile__image(src='./images/ivan-jimenez-rodriguez.png' alt='Iván Jiménez Rodríguez - Consultor de Recursos Humanos y Coach Organizacional')
      h5 Para cualquier duda, contáctame por e-mail ó LinkedIn, estaré encantado de atenderte:
      a(target='_blank' href='mailto:ijrhumansolutions@gmail.com')
        i.fa.fa-envelope(aria-hidden="true")
        | ijrhumansolutions@gmail.com
      a(target='_blank' href='https://www.linkedin.com/in/ijrhumansolutions/')
        i.fa.fa-linkedin-square(aria-hidden="true")
        | LinkedIn
    section.right-side
      header
        h1 Hola!
        h2 Me llamo Iván.
      section.description
        p Nací en Barcelona hace 32 años, donde pasé los primeros años de mi infancia. Posteriormente, nos trasladamos a Abrera, y estuve estudiando por las zonas de Martorell y Manresa, compaginando estudios con empleos de fin de semana.
        p A los 22 años, me desplacé hacia Andorra a trabajar, lugar donde permanecí hasta 2016. A los 30, regresé a España para volver a estudiar, y residí durante cerca de 2 años en San Sebastián, combinando el trabajo con la formación.
        p Actualmente vivo en A Coruña, donde ando en una búsqueda activa de empleo por la zona de Galicia. Aunque no me baso exclusivamente en mi formación, ya que no me importa aprender y probar cosas nuevas, y me gusta aplicar y combinar mi experiencia y formación en cualquier trabajo o reto.
        p Mis habilidades innatas más destacables son la inteligencia emocional y la empatía, y de las aprendidas, las que más he desarrollado son la excelencia en el trato a la persona y la capacidad de adaptación y superación.
        p Soy una persona muy resolutiva; intentando dominar al máximo el ámbito laboral que me rodea para poder ofrecer la mejor atención y experiencia. Y analizo las situaciones, exponiendo luego críticas constructivas, para dar siempre el mejor servicio posible.
        p Para mí, la profesionalidad en el puesto, y el excelente servicio y atención al cliente son siempre lo primero.
        p A nivel laboral tengo 14 años de experiencia de cara al público, en grandes equipos multidisciplinares, y con altos volúmenes de trabajo. A grandes rasgos, lo más significativo tal vez hayan sido los 2 años como mando intermedio en grandes superficies comerciales, organizando y dirigiendo equipos; y los 6 años como técnico de farmacia, siendo mi mayor especialidad la impartición de formaciones sobre nutrición y suplementación, además de colaborar en diversos blogs sobre salud y complementos dietéticos.
        p En mi formación, he procurado centrarme en el mayor capital activo de la empresa, las personas. Todo desde un punto de vista actual y global; cohesionando la Psicología y el Coaching con el Management, y siempre orientado hacia la atención al público.
        p Me encanta el trabajo en equipo, y por eso una de mis grandes pasiones es el deporte; tengo la Licencia de Instructor de la FPEF (Fitness & Pilates European Federation), y soy miembro de EUREPS (European Union Register of Exercise Professionals).
        p También soy algo dado a la música, donde me defiendo con instrumentos como la guitarra o el bajo.
        p En 2017 colaboré con ASPANOGI (Asociación Contra el Cáncer Infantil) en dos iniciativas. La primera; montar y personalizar una bicicleta para un niño afectado por esta enfermedad. Y la segunda; montar y personalizar una Fixie para el 20 aniversario de la asociación, sorteándola entre el público que ha participado para recaudar fondos para continuar con la lucha.
        p Tal vez algún día coincidamos y nos podamos conocer!
        p Gracias por leerme, y hasta pronto!
      br
      section.studies
        h2 Formación más destacada:
        ul
          li MBA in Human Resources: Analista y Consultor.
          li Máster Europeo en Psicología.
          li Certificación Profesional Internacional en Coaching Ejecutivo y Empresarial.
          li Certificado de Psicoanalista Superior.
          li Certificado de Practitioner de PNL.
          li Curso Universitario de Administración y Dirección de Empresas.
          li Curso Universitario de Business Intelligence.
          li Curso Universitario de Dirección Estratégica de RRHH.
          li Curso Universitario de Especialista en Dirección de Equipos.
          li Curso Universitario en Coaching y Mentoring.
          li Curso de Técnico Profesional en Coaching Organizacional.
          li Curso de Técnico Profesional en Psicología y Técnicas de Venta.
          li Curso de Experto en Calidad en el Servicio y Atención al Cliente.
          li Curso Superior en Neuromarketing.
          li Curso de Community Manager, Posicionamiento Web y Brand Manager Digital.
          li FP de Técnico en Farmacia y Parafarmacia.
          li Instructor Federado Europeo de la FPEF.
        p Para más detalles sobre toda mi formación, podéis consultar mi LinkedIn.
