html
  head
    title Iván - Human solutions
  body
    section.left-side
      img.profile__image(src='./images/ivan-jimenez-rodriguez.png' alt='Iván Jiménez Rodríguez - Consultor de Recursos Humanos y Coach Organizacional')
      p Para cualquier duda, contáctame por e-mail ó Linkedin
      p Estaré encantado de atenderte:
      a(href='mailto:ijrhumansolutions@gmail.com') ijrhumansolutions@gmail.com
      br
      a(href='https://es.linkedin.com/in/iván-jiménez-rodríguez-22460696') Linkedin
    section.right-side
      header
        h1 Hola, soy Iván Jiménez Rodríguez
        h2 Consultor de Recursos Humanos y Coach Organizacional
      section.description
        p Con cerca de 4000h de formación en la 3ª Mejor Escuela de Negocios de España y en las Universidades Antonio de Nebrija, Miguel de Cervantes y Camilo José Cela, ofrezco una serie de servicios enfocados al ámbito empresarial, y orientados hacia la consecución de metas y objetivos, trabajando, sobre todo, con el mayor capital de la empresa; el Capital Humano.
        p Debido a mi categoría Junior, me centro en las pequeñas empresas y/o cargos concretos, y actúo en la ciudad de Donostia-San Sebastián, adaptándome al lugar propuesto por el cliente, para evitar molestias de desplazamiento y maximizar la comodidad.
        p Mi especialidad es la formación de Líderes y Directivos basados en la Inteligencia Emocional; integrando la excelencia en cualquier acto o proceso laboral.
        p Sobre mí... Nacido en Barcelona hace 31 años, trabajé en Andorra durante 8, y cuando regresé a España, decidí aunar lo aprendido con una acción formativa basada en mis tres pasiones; conocimientos, personas, y empresas.
        p Mis habilidades innatas más destacables son la inteligencia emocional y la empatía, y de las aprendidas, las que más he desarrollado son la excelencia en el trato a la persona, la responsabilidad, la capacidad de adaptación y superación, y la perseverancia en la consecución de objetivos.
      section.services
        h3 Servicios de Asesoría Especializada en Recursos Humanos:
        ul
          li Análisis y Consultoría de RRHH
          li Coaching Organizacional: Ejecutivo y Empresarial
          li Headhunting and Recruiting
      section.studies
        h3 Formación:
        ul
          li MBA in Human Resources: Analyst and Consultant
          li Máster Europeo en Psicología
          li Certificación Profesional Internacional en Coaching Ejecutivo y Empresarial
          li Certificación Universitaria en Administración y Dirección de Empresas (ADE)
          li Certificación Universitaria en Business Intelligence
          li Certificación Universitaria en Coaching y Mentoring
          li Certificación Universitaria en Dirección Estratégica de RRHH
          li Certificación Universitaria de Especialista en Dirección de Equipos
          li Certificación Universitaria en Dirección de Empresas de Moda
          li Certificación Universitaria de Especialista en Practitioner de PNL
          li Certificación Universitaria en Intervención Psicoeducativa en Alteraciones de la Conducta
          li Certificación Universitaria en Atención Temprana
          li Certificación Universitaria en Psicología Infantil
          li Técnico Profesional en Coaching Ejecutivo y Empresarial
          li Técnico Profesional en Técnicas de Venta y Psicología Aplicada
          li Curso de Experto en Calidad en el Servicio y Atención al Cliente
          li Curso de Experto en Posicionamiento Web y Community Manager
          li Curso Superior en Neuromarketing
          li Curso Superior de Psicoanálisis
          li Curso de Competencias para Mandos Intermedios
          li Curso de Brand Manager Digital
          li Curso de Big Data: Análisis de Datos Masivos
          li Instructor Federado Olímpico Profesional de la FPEF (Federación Olímpica Europea de Fitness y Pilates) + Especialización de Experto en Biomecánica Deportiva

