html
  head
    title Iván - Human solutions
  body
    section.left-side
      img.profile__image(src='./images/ivan-jimenez-rodriguez.jpg' alt='Iván Jiménez Rodríguez - Consultor de Recursos Humanos y Coach Organizacional')
      h5 Para cualquier duda, contáctame por e-mail ó LinkedIn, estaré encantado de atenderte:
      a(target='_blank' href='mailto:ijrhumansolutions@gmail.com')
        i.fa.fa-envelope(aria-hidden="true")
        | ijrhumansolutions@gmail.com
      a(target='_blank' href='https://www.linkedin.com/in/ijrhumansolutions/')
        i.fa.fa-linkedin-square(aria-hidden="true")
        | LinkedIn
    section.right-side
      header
        h1 Hola
        h2 Me llamo Iván.
      section.description
        p Con cerca de 4000h de formación en la 3ª Mejor Escuela de Negocios de España y en las Universidades Antonio de Nebrija, Miguel de Cervantes y Camilo José Cela, 
          b ofrezco una serie de servicios enfocados al ámbito empresarial, y orientados hacia la consecución de metas y objetivos
          | , trabajando, sobre todo, con el mayor capital de la empresa; el Capital Humano.
        p Debido a mi categoría Junior, me centro en las pequeñas empresas y/o cargos concretos, y actúo en la ciudad de Donostia-San Sebastián, adaptándome al lugar propuesto por el cliente, para evitar molestias de desplazamiento y maximizar la comodidad.
        p
          b Mi especialidad es la formación de Líderes y Directivos basados en la Inteligencia Emocional
          | ; integrando la excelencia en cualquier acto o proceso laboral.
        p Sobre mí... Nacido en Barcelona hace 31 años, trabajé en Andorra durante 8, y cuando regresé a España, decidí aunar lo aprendido con una acción formativa basada en mis tres pasiones; conocimientos, personas, y empresas.
        p Mis habilidades innatas más destacables son la inteligencia emocional y la empatía, y de las aprendidas, las que más he desarrollado son la excelencia en el trato a la persona, la responsabilidad, la capacidad de adaptación y superación, y la perseverancia en la consecución de objetivos.
      br
      br
      section.services
        h2 Servicios de Asesoría Especializada en Recursos Humanos:
        ul.services-list
          li.services-item
            h4
              i(class="fa fa-book" aria-hidden="true")
              br
              | Análisis y Consultoría de RRHH
          li.services-item
            h4
              i(class="fa fa-cogs" aria-hidden="true")
              br
              | Coaching Organizacional: Ejecutivo y Empresarial
          li.services-item
            h4
              i(class="fa fa-search" aria-hidden="true")
              br
              | Headhunting and Recruiting
      br
      br
      section.studies
        h2 Formación:
        ul
          li MBA in Human Resources: Analyst and Consultant
          li Máster Europeo en Psicología
          li Certificación Profesional Internacional en Coaching Ejecutivo y Empresarial
          li Certificación Universitaria en Administración y Dirección de Empresas (ADE)
          li Certificación Universitaria en Business Intelligence
          li Certificación Universitaria en Coaching y Mentoring
          li Certificación Universitaria en Dirección Estratégica de RRHH
          li Certificación Universitaria de Especialista en Dirección de Equipos
          li Certificación Universitaria en Dirección de Empresas de Moda
          li Técnico Profesional en Coaching Ejecutivo y Empresarial
          li Técnico Profesional en Técnicas de Venta y Psicología Aplicada
          li Curso de Experto en Calidad en el Servicio y Atención al Cliente
        p Además, poseo otros títulos y certificaciones sobre Management, MKT, y PNL.
